
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <div class="container">
                <a href="\hasta" class="btn btn-info" role="button">Yeni Kayıt</a>
                <a href="#" class="btn btn-info" role="button">Düzenle</a>
                <a href="#" class="btn btn-info" role="button">Sil</a>
                <a href="#" class="btn btn-info" role="button">İptal</a>
              </div>
<br>
            <table>
                <tr><td>Ad ve Soyad</td><td><input type="text"></td></tr>
                <tr><td>Hasta Knumarası</td><td><input type="text"></td></tr>
                <tr><td>Kimlik No </td><td><input type="text"></td></tr>
                <tr><td>Arşiv Kodu: </td><td><input type="text"></td></tr>
                <tr><td>Hasta No : </td><td><input type="text"></td></tr>
            </table>

        </div>
        <div class="col-sm-8">
            <h3>Gelen hastalar</h3>
            <ag-grid-angular 
            style="width: 700px; height: 400px;" 
            class="ag-theme-balham"
            [enableSorting]="true"
            [enableFilter]="true"
            [rowData]="rowData | async" 
            [columnDefs]="columnDefs">
        </ag-grid-angular>

        </div>
    </div>
