<div class="col-md-12">
        <h2> Hastalar</h2>
        <button class="btn btn-danger" (click)="addHasta()"> Hasta ekle</button>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>kimlikno</th>
            <th>Ad soyad</th>
            <th>hastano</th>
            <th>dtarih</th>
            <th>dyer</th>
            <th>meslek</th>
            <th>kangrubu</th>
            <th>ceptel</th>
            <th>adres</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let hast of hasta">
            <td >{{hast.kimlikno}}</td>
            <td>{{hast.adsoyad}}</td>
            <td>{{hast.hastano}}</td>
            <td>{{hast.dtarih}}</td>
            <td>{{hast.dyer}}</td>
            <td>{{hast.meslek}}</td>
            <td>{{hast.kangrubu}}</td>
            <td>{{hast.ceptel}}</td>
            <td>{{hast.adres}}</td>
            <td><button class="btn btn-danger" (click)="deleteHasta(hast)"> Sil</button></td>
            <td><button class="btn btn-danger" (click)="editHasta(hast)" style="margin-left: 20px;"> Düzenle</button></td>
          </tr>
          </tbody>
        </table>
      </div>
