
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="container">
                <a href="\hasta" class="btn btn-info" role="button">Yeni Kayıt</a>
                <a href="#" class="btn btn-info" role="button">Düzenle</a>
                <a href="#" class="btn btn-info" role="button">Sil</a>
                <a href="#" class="btn btn-info" role="button">İptal</a>
              </div>
            <table>
                <tr>
                  <td>
                      <table>
                          <tr><td>Ad ve Soyad</td><td><input type="text"></td></tr>
                          <tr><td>Hasta Knumarası</td><td><input type="text"></td></tr>
                          <tr><td>Kimlik No </td><td><input type="text"></td></tr>
                          <tr><td>Arşiv Kodu: </td><td><input type="text"></td></tr>
                          <tr><td>Hasta No : </td><td><input type="text"></td></tr>
                       </table>
                  </td>
                  <td style="width:20">.</td>
                  <td>
                      <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" alt="Card image cap" style="width: 20; height: 20; ">
                          <div class="card-body">
                             <a href="#" class="btn btn-primary">Resim Yükle</a>
                          </div>
                        </div>
           
                  </td>
               </tr>
                <tr>
                  <td colspan="3">
        
                  </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>
   
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
          <h3>Gelen hastalar</h3>
                  <table class="table table-hover">
                  <thead><tr><th>Ad ve Soyad</th><th>Hasta Numarası</th><th>Kimlik No </th><th>Arşiv Kodu</th><th>Hasta No </th></tr></thead>
                  <tbody>
                    <tr><td>güray ateş</td><td>668</td><td>132456 </td><td>v6588</td><td>4545 </td></tr>
                    <tr><td>lora ateş</td><td>76768</td><td>45556</td><td>hgf5555</td><td>5455 </td></tr>
                    <tr><td>yankı ateş</td><td>78768</td><td>555555</td><td>v556656</td><td>45343 </td></tr>
                    <tr><td>lena ateş</td><td>786768</td><td>8555555 </td><td>fgh345534</td><td>453453</td></tr>
                </tbody>
          </table> 

        </div>
        <div class="col-sm-3"></div>
    </div>

